{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-unitpay" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
      {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-unitpay" class="form-horizontal">
          <h1>UnitPay</h1>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-domain">{{ entry_domain }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_unitpay_domain" value="{{ payment_unitpay_domain }}" placeholder="{{ entry_domain }}" id="input-domain" class="form-control" />
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-login">{{ entry_login }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_unitpay_login" value="{{ payment_unitpay_login }}" placeholder="{{ entry_login }}" id="input-login" class="form-control" />
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-unitpay_key">{{ entry_unitpay_key }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_unitpay_key" value="{{ payment_unitpay_key }}" placeholder="{{ entry_unitpay_key }}" id="input-unitpay_key" class="form-control" />
            </div>
          </div>

	  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-unitpay_nds">{{ entry_unitpay_nds }}</label>
            <div class="col-sm-10">
              <select name="payment_unitpay_nds" id="input-unitpay_nds" class="form-control">
       		<option {% if payment_unitpay_nds == 'none' %} selected="selected" {% endif %} value="none">-</option>
		<option {% if payment_unitpay_nds == 'vat0' %} selected="selected" {% endif %} value="vat0">0%</option>
		<option {% if payment_unitpay_nds == 'vat10' %} selected="selected" {% endif %} value="vat10">10%</option>
		<option {% if payment_unitpay_nds == 'vat20' %} selected="selected" {% endif %} value="vat20">20%</option>
              </select>
            </div>
          </div>

	<div class="form-group">
            <label class="col-sm-2 control-label" for="input-unitpay_delivery_nds">{{ entry_unitpay_delivery_nds }}</label>
            <div class="col-sm-10">
              <select name="payment_unitpay_delivery_nds" id="input-unitpay_delivery_nds" class="form-control">
       		<option {% if payment_unitpay_delivery_nds == 'none' %} selected="selected" {% endif %} value="none">-</option>
		<option {% if payment_unitpay_delivery_nds == 'vat0' %} selected="selected" {% endif %} value="vat0">0%</option>
		<option {% if payment_unitpay_delivery_nds == 'vat10' %} selected="selected" {% endif %} value="vat10">10%</option>
		<option {% if payment_unitpay_delivery_nds == 'vat20' %} selected="selected" {% endif %} value="vat20">20%</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order_status_after_pay">{{ entry_order_status_after_pay }}</label>
            <div class="col-sm-10">
              <select name="payment_unitpay_order_status_id_after_pay" id="input-order_status_after_pay" class="form-control">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == payment_unitpay_order_status_id_after_pay %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order_status_after_pay">{{ entry_min_price }}</label>
            <div class="col-sm-10">
              <input name="payment_unitpay_min_price" id="input-payment_unitpay_min_price" class="form-control" value="{{ payment_unitpay_min_price }}" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-create_order">{{ entry_set_status_after_create }}</label>
            <div class="col-sm-10">
              <select name="payment_unitpay_create_order" id="input-create_order" class="form-control">
                {% if payment_unitpay_create_order %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order_status_after_create">{{ entry_order_status_after_create }}</label>
            <div class="col-sm-10">
              <select name="payment_unitpay_order_status_id_after_create" id="input-order_status_after_create" class="form-control">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == payment_unitpay_order_status_id_after_create %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                  <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-error_status">{{ entry_set_status_after_error_payment }}</label>
            <div class="col-sm-10">
              <select name="payment_unitpay_set_error_status" id="input-error_status" class="form-control">
                {% if payment_unitpay_set_error_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order_status_error_payment">{{ entry_order_status_error }}</label>
            <div class="col-sm-10">
              <select name="payment_unitpay_order_status_id_error" id="input-order_status_error_payment" class="form-control">
                {% for order_status in order_statuses %}
                  {% if order_status.order_status_id == payment_unitpay_order_status_id_error %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                  {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-delete_cart">{{ entry_delete_cart_after_confirm }}</label>
            <div class="col-sm-10">
              <select name="payment_unitpay_cart_reset" id="input-delete_cart" class="form-control">
                {% if payment_unitpay_cart_reset %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-unitpay_geo_zone_id">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="payment_unitpay_geo_zone_id" id="input-geo_zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                  {% if geo_zone.geo_zone_id == payment_unitpay_geo_zone_id %}
                    <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                  {% else %}
                    <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_unitpay_status" id="input-status" class="form-control">
                {% if payment_unitpay_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-copy_result_url">{{ text_result_url }}</label>
            <div class="col-sm-10">
              <span>{{ copy_result_url }}</span>
              <input type="hidden"  name="unitpay_result_url" value="{{ copy_result_url }}" id="input-copy_result_url" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-copy_success_url">{{ text_success_url }}</label>
            <div class="col-sm-10">
              <span>{{ copy_success_url }}</span>
              <input type="hidden" name="unitpay_success_url" value="{{ copy_success_url }}" id="input-copy_success_url" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-copy_fail_url">{{ text_fail_url }}</label>
            <div class="col-sm-10">
              <span>{{ copy_fail_url }}</span>
              <input type="hidden" name="unitpay_fail_url" value="{{ copy_fail_url }}" id="input-copy_fail_url" class="form-control" />
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}